@model HelpDesk.Web.Models.TicketDTO

@*AssignedTicketsPV*@

<table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
    <thead>
        <tr>
            <th>Ticket No</th>
            <th>Date</th>
            <th>Modal No</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TicketList != null)
        {
            foreach (var item in Model.TicketList)
            {
                <tr>
                    <td>@item.TicketNumber</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.ModelName</td>
                    <td>@item.Priority</td>
                    <td>@item.Statustxt</td>
                    <td align="center">
                        <a onclick="TicketDetails(@item.TicketNumber)">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<ul id="pagination-demo" class="pagination"></ul>


<input type="hidden" id="hdnToPagesCountForPagination" value="@Model.pagingNumber" />
<input type="hidden" id="hdnPageNumber_twbs" value="@Model.PageNumber" />
<input type="hidden" id="hdnToPageCount" value="@Model.TotalRecords" />

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>*@
@*<script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>*@


@*@section  Scripts{}*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>*@
@*<script src="~/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/assets/js/scripts.bundle.js"></script>*@
<script src="~/assets/js/jquery.twbsPagination.js"></script>
<script>
    $(function () {
        // call the tablesorter plugin recordsCount
        //$("#kt_table_1").tablesorter({
        //    theme: 'blue',
        //    dateFormat: "ddmmyyyy" // set the default date format
        //});
        if ($('.pagination').data("twbs-pagination")) {
            $('.pagination').twbsPagination('destroy');
        }
        debugger
        var pNo = $('#hdnPageNumber_twbs').val();
        var cnt = $('#hdnToPagesCountForPagination').val();
        if (cnt == "0") {
            cnt = 1;
        }
        var i = parseInt(pNo);
        $('#pagination-demo').twbsPagination({
            totalPages: cnt,
            visiblePages: 5,
            startPage: i,
            initiateStartPageClick: false,
            onPageClick: function (event, page) {
                //fetch content and render here
                pageval(page);
            }
        });
    });
</script>




@*<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>*@

@*<script src="~/assets/js/datatables.bundle.js"></script>*@
<script>
    //var KTDatatablesBasicPaginations = function () {

    //    var initTable1 = function () {
    //        var table = $('#kt_table_1');

    //        // begin first table
    //        table.DataTable({
    //            responsive: true
    //        });
    //    };

    //    return {

    //        //main function to initiate the module
    //        init: function () {
    //            initTable1();
    //        },

    //    };

    //}();

    //jQuery(document).ready(function () {
    //    KTDatatablesBasicPaginations.init();
    //});




</script>
