@model HelpDesk.Web.Models.TicketDTO

@*AssignedTicketsPV*@
 
<table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
    <thead>
        <tr>
            <th>Ticket No</th>
            <th>Date</th>
            <th>Modal No</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TicketList != null)
        {
            foreach (var item in Model.TicketList)
            {
                <tr>
                    <td>@item.TicketNumber</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.ModelName</td>
                    <td>
                        @if (item.Priority == "L")
                        {
                            <div class="label label-table label-info">Low</div>
                        }
                        else if (item.Priority == "M")
                        {
                            <div class="label label-table label-default">Medium</div>
                        }
                        else if (item.Priority == "H")
                        {
                            <div class="label label-table label-primary">High</div>
                        }
                    </td>
                    <td>@item.Statustxt</td>
                    <td align="center">
                        <a href="#" onclick="TicketDetails(@item.TicketNumber)">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<ul id="pagination-demo" class="pagination"></ul>


<input type="hidden" id="hdnToPagesCountForPagination" value="@Model.pagingNumber" />
<input type="hidden" id="hdnPageNumber_twbs" value="@Model.PageNumber" />
<input type="hidden" id="hdnToPageCount" value="@Model.TotalRecords" />

 
<script src="~/assets/js/jquery.twbsPagination.js"></script>
<script>
    $(function () {
     
        if ($('.pagination').data("twbs-pagination")) {
            $('.pagination').twbsPagination('destroy');
        }
        debugger
        var pNo = $('#hdnPageNumber_twbs').val();
        var cnt = $('#hdnToPagesCountForPagination').val();
        if (cnt == "0") {
            cnt = 1;
        }
        var i = parseInt(pNo);
        $('#pagination-demo').twbsPagination({
            totalPages: cnt,
            visiblePages: 5,
            startPage: i,
            initiateStartPageClick: false,
            onPageClick: function (event, page) {
                //fetch content and render here
                pageval(page);
            }
        });
    });
</script>
 