@model HelpDesk.Web.Models.TicketDTO

@{
    ViewBag.Title = "Enquiries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section  Styles{
    <link href="~/assets/css/datatables.bundle.css" rel="stylesheet" />
}
<div id="upper_div" class="kt-container  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg mb-4">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">Enquiry List</h3>
            </div>
            @if (Model.RoleId == 503)
            {
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <a href="@Url.Action("NewEnquiry","Ticket")" class="btn btn-brand btn-elevate btn-icon-sm">
                                <i class="la la-plus"></i>
                                New Enquiry
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="kt-portlet__body pt-0">

            @if (Model.TicketList != null)
            {



                <div class="table-responsive">
                    @if (Model.TicketList.Count() > 0)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                            <thead>
                                <tr>
                                   
                                    <th scope="col">Date</th>
                                    
                                    <th scope="col">User</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TicketList)
                                {
                                    <tr>
                                       
                                        <td>@item.EnquiryDate</td>
                                       
                                        <td>@item.FullName</td>
                                        <td align="center">
                                            <a href="#" onclick="ViewEnqiryDetails(@item.EnquiryId)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No records....</p>
                    }
                </div>
            }
            else
            {
                <p>No records....</p>
            }
            <!--begin: Section-->
        </div>
    </div>
</div>
<div id="details_div"></div>


@section Scripts{
    <script src="~/assets/js/datatables.bundle.js"></script>
    <!-- Select 2 -->
    <script>
        document.getElementById("loader").style.display = "none";
         var KTDatatablesBasicPaginations = function () {

        var initTable1 = function () {
            var table = $('#kt_table_1');

            // begin first table
            table.DataTable({
                responsive: true,
                 "order": [[ 0, "desc" ]]
            });
        };

        return {

            //main function to initiate the module
            init: function () {
                initTable1();
            },

        };

    }();

    jQuery(document).ready(function () {
        KTDatatablesBasicPaginations.init();
    });
        function ViewEnqiryDetails(id) {
            document.getElementById("loader").style.display = "block";
            $.ajax({
                type: "Post",
                url: '@Url.Action("EnquiryDetails")',
                datatype: "json",
                data: { id: id },
                success: function (data) {
                    $('#upper_div').hide();
                    $('#details_div').show('');

                    $('#details_div').html('');
                    $('#details_div').html(data);
                    document.getElementById("loader").style.display = "none";
                },
                error: function () {
                    alert('error');
                    $('#details_div').html('');
                    document.getElementById("loader").style.display = "none";
                }
            });
        }

        function CloseDetails() {
            $('#upper_div').show();
            $('#details_div').hide('');
        }
        function AddComments() {
            document.getElementById("loader").style.display = "block";
            var Commentstext = $('#exampleTextarea').val();

            if (Commentstext == "") {
                alert('Fields Required');
                document.getElementById("loader").style.display = "none";
                return false;
            }

            $.ajax({
                type: "Post",
                url: '@Url.Action("NewEnquiryComments")',
                datatype: "json",
                data: { txt: Commentstext, EnquiryId: $('#hdnEnquiryId').val() },
                success: function (data) {
                    var v = data.success;
                    if (v == true) {
                        ViewEnqiryDetails($('#hdnEnquiryId').val());
                    }
                    else {
                        alert('Some thing went wrong');
                    }
                    document.getElementById("loader").style.display = "none";
                },
                error: function () {
                    alert('error');
                    document.getElementById("loader").style.display = "none";
                }
            });
        }
    </script>
}