@model HelpDesk.Web.Models.TicketDTO
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box;
        }

        body {
            color: #555;
            font-size: 9px;
            font-family: 'Roboto', sans-serif;
        }

        .flex-container-space-between {
            display: flex;
            justify-content: space-between;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .text-rigth {
            text-align: right;
        }

        .text-uppercase {
            text-transform: uppercase;
        }


        .flex-container-wrap {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -5px;
            margin-left: -5px;
        }

        .col-10 {
            flex: 0 0 10%;
            max-width: 10%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        .col-15 {
            flex: 0 0 15%;
            max-width: 15%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        .col-20 {
            flex: 0 0 20%;
            max-width: 20%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        .col-25 {
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        .col-33 {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        .col-50 {
            flex: 0 0 50%;
            max-width: 50%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        .col-90 {
            flex: 0 0 90%;
            max-width: 90%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        .col-100 {
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px
        }

        label {
            font-weight: 700;
            vertical-align: middle;
        }

        input[type=text] {
            display: block;
            width: 100%;
            font-size: 12px;
            line-height: 30px;
            text-align: center;
            color: #495057;
            background-color: #cbe6f1;
            -webkit-print-color-adjust: exact;
            background-clip: padding-box;
            border: 1px solid #333;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 10px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        .checkmark {
            position: absolute;
            top: -5px;
            left: 0;
            height: 25px;
            width: 25px;
            border: 1px solid #333;
        }

            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

        .container input:checked ~ .checkmark:after {
            display: block;
        }

        .container .checkmark:after {
            left: 5px;
            top: -10px;
            width: 15px;
            height: 30px;
            border: solid #3d94fb;
            border-width: 0 5px 5px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .full_border {
            border: 1px solid #333;
        }

        .bottom_border {
            border: 1px solid #333;
        }

        .table_bordered {
            border-collapse: collapse;
        }

            .table_bordered tr td {
                border: 1px solid #333;
                padding: 10px
            }

            .table_bordered.table_pad tr td {
                padding: 5px
            }

        .full_border p {
            /*border-bottom: 1px dotted #333;*/
            display: inline;
            line-height: 1.5;
        }

        .dotted_border {
            padding: 0px 5px !important;
            line-height: 20px !important;
            border: 0 !important;
            background: #cbe6f1 !important;
            border-bottom: 1px dotted #333 !important;
        }

            .dotted_border.email {
                font-size: 9px;
            }

        .contact_details {
            width: 100%;
            padding: 0 10px 2px;
        }

            .contact_details tr td {
                vertical-align: bottom;
            }

        .font-14 {
            font-size: 14px;
        }

        .font-20 {
            font-size: 12px;
        }

        .font-24 {
            font-size: 14px;
        }

        .m-0 {
            margin: 0px;
        }

        .p-10 {
            padding: 10px;
        }

        .pb-5 {
            padding-bottom: 5px;
        }

        .mb-5 {
            margin-bottom: 5px;
        }

        .pb-15 {
            padding-bottom: 15px !important;
        }

        .mb-15 {
            margin-bottom: 15px;
        }

        .pl-4 {
            padding-left: 4px;
        }

        .bg-skyblue {
            background-color: #cbe6f1;
            -webkit-print-color-adjust: exact;
        }
    </style>
</head>

<body id="tblCustomers">
    @*<input type="button" id="btnExport" value="Download" />*@
    @*<button id="cmd">generate PDF</button>*@
    <div class="flex-container-space-between" style="padding: 20px;">
        <section>
            <div class="mb-5">
                <img src="http://208.109.10.196/AHCHelpdesk/assets/images/ahc_new_logo.png" height="40">
            </div>
            <div>
                <p class="text-uppercase">
                    <strong>Arabian Health Care</strong>
                </p>
                <table>
                    <tr>
                        <td colspan="4">P.O. Box 8772 Riyadh 11492, K.S.A</td>
                    </tr>
                    <tr>
                        <td>Riyadh Tel.:</td>
                        <td>011 4668999</td>
                        <td>&ensp;</td>
                        <td>Fax: 011 4749414</td>
                    </tr>
                    <tr>
                        <td>Jeddah Tel.:</td>
                        <td>012 6782020</td>
                        <td>&ensp;</td>
                        <td>Fax: 012 6906190</td>
                    </tr>
                    <tr>
                        <td>Dammam Tel.:</td>
                        <td>013 8871000</td>
                        <td>&ensp;</td>
                        <td>Fax: 013 8825974</td>
                    </tr>
                    <tr>
                        <td>Toll Free No.:</td>
                        <td colspan="3"> 800 2444416</td>
                    </tr>
                    <tr>
                        <td>Website.:</td>
                        <td colspan="3">www.ahc.sa</td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="text-rigth">
            <div class="mb-5">
                <img src="http://208.109.10.196/AHCHelpdesk/assets/images/ahc_new_logo.png" height="40">
            </div>
            <div>
                <p class="text-uppercase" dir="rtl">
                    <strong>
                        الشركة العربية الطبية
                    </strong>
                </p>
                <table dir="rtl">
                    <tr>
                        <td colspan="4">ص.ب ٨٧٧٢ الرياض ١١٤٩٢، المملكة العربية السعودية</td>
                    </tr>
                    <tr>
                        <td>الرياض.:</td>
                        <td>٤٦٦٨٩٩٩ ٠١١</td>
                        <td>&ensp;</td>
                        <td>فاكس: ٤٧٤٩٤١٤ ٠١١</td>
                    </tr>
                    <tr>
                        <td>جده.:</td>
                        <td>٦٧٨٢٠٢٠ ٠١٢</td>
                        <td>&ensp;</td>
                        <td>فاكس: ٦٩٠٦١٩٠ ٠١٢ </td>
                    </tr>
                    <tr>
                        <td>الدمام.:</td>
                        <td>٨٨٧١٠٠٠ ٠١٣</td>
                        <td>&ensp;</td>
                        <td>
                            فاكس: ٨٨٢٥٩٧٤ ٠١٣
                        </td>
                    </tr>
                    <tr>
                        <td>الرقم المجاني.:</td>
                        <td colspan="3">٢٤٤٤٤١٦ ٨٠٠</td>
                    </tr>
                    <tr>
                        <td>الموقع الإلكتروني.:</td>
                        <td colspan="3">www.ahc.sa</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    @foreach (var item in Model.TicketList)
    {
        <div class="form">
            <h1 class="text-uppercase text-center pb-15 mb-15"><u>Service Report</u></h1>
            <div class="flex-container-wrap">
                <div class="col-20">
                    <label>Ticket No.</label>
                    <input type="text" value="@item.TicketNumber">
                </div>
                <div class="col-20">
                    <label>Customer I.D.</label>
                    <input type="text" value="@item.AccountCode">
                </div>
                <div class="col-20">
                    <label>Customer Equipment I.D.</label>
                    <input type="text" value="@item.SystemNo">
                </div>
                <div class="col-20">
                    <label>Service Report Date</label>
                    <input type="text" value="@item.ServiceEngineerResolvedDate">
                </div>
                <div class="col-20">
                    <label>Service Report No.</label>
                    <input type="text" value="@item.TicketNumber">
                </div>
                <div class="col-25">
                    <label>Customer Name.</label>
                    @*<input type="text" style="height: 52px" value="@item.ManagerFullName">*@
                    <input type="text" style="height: 52px" value="@item.AccountName">
                </div>
                <div class="col-25">
                    <label>Customer Location.</label>
                    <input type="text" style="height: 52px" value="@item.Area">
                </div>
                <div class="col-50">
                    <label>Customer Contacts</label>
                    <div class="full_border bg-skyblue">
                        <table class="contact_details">
                            <tr>
                                <td> Tel.:</td>
                                <td><input type="text" class="dotted_border"></td>
                                <td>&ensp;</td>
                                <td> Fax.:</td>
                                <td><input type="text" class="dotted_border"></td>
                            </tr>
                            <tr>
                                <td> Mob.:</td>
                                <td><input type="text" class="dotted_border"></td>
                                <td>&ensp;</td>
                                <td> Email.:</td>
                                <td><input type="text" class="dotted_border email" value="@item.ManagerEmail"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-25">
                    <label>Equipment Description/Station Name</label>
                    <input type="text" value="@item.StationName">
                </div>
                <div class="col-25">
                    <label>Equipment Model</label>
                    <input type="text" value="@item.ModelName">
                </div>
                <div class="col-25">
                    <label>Equipment Serial No.</label>
                    <input type="text" value="@item.SerialNo">
                </div>
                <div class="col-25">
                    <label>Customer P.O. No.</label>
                    <input type="text" value="@item.POContract">
                </div>
                <div class="col-20">
                    <label>Manufacturer/Product</label>
                    <input type="text" value="@item.ProductName">
                </div>
                <div class="col-20">
                    <label>Installation Date</label>
                    <input type="text" value="@item.InstallationDate">
                </div>
                <div class="col-20">
                    <label>Warranty End Date</label>
                    <input type="text" value="@item.WarrantyExpiryDate">
                </div>
                <div class="col-20">
                    <label>Next PPM Schedule</label>
                    <input type="text" value="@item.PPMDate">
                </div>
                <div class="col-20">
                    <label>Customer Call Date & Time</label>
                    <input type="text" value="@item.CreatedOn.ToString("dd-MM-yyyy HH:MM")">
                </div>
                <div class="col-20">
                    <label>Report Type</label>
                    <input type="text" value="@item.ReportTypeName">
                </div>
                <div class="col-20">
                    <label>Service Start Date & Time</label>
                    <input type="text" value="@item.ServiceStartDate">
                </div>
                <div class="col-20">
                    <label>Service End Date & Time</label>
                    <input type="text" value="@item.ServiceEngineerResolvedDate">
                </div>
                <div class="col-20">
                    <label>Work Hours</label>
                    <input type="text" value="@item.WorkHours">
                </div>
                <div class="col-20">
                    <label>Total Charges</label>
                    <input type="text">
                </div>


                <div class="col-100">
                    <label>Problem Description</label>
                    <div class="full_border p-10" style="height: 95px;">
                        <p class="font-20">
                            @item.ProblemDescription
                        </p>
                    </div>
                </div>
                <div class="col-100">
                    <label>Activities Done</label>


                    <div class="full_border p-10" style="height: 95px;">
                        <p class="font-20">
                            @item.Actioncomments
                        </p>
                    </div>
                </div>
                <div class="col-100">
                    <label>Next Action / Follow Up Required</label>
                    <div class="bottom_border p-10">
                        <p class="font-14">
                        </p>
                    </div>
                </div>
                @*<div class="col-100">
                        <label>Remarks / Notes / Other Serial Nos.</label>
                        <div class="full_border p-10">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <div class="col-100">
                        <table class="bg-skyblue p-10 text-left" width="100%">
                            <tr>
                                <th>
                                    Hand Over to Customer
                                </th>
                                <th>
                                    <label class="container m-0">
                                        Operating Manuals
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>
                                    <label class="container m-0">
                                        Service Manuals
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>
                                    <label class="container m-0">
                                        Software CD's
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>&nbsp</th>
                        </table>
                    </div>*@
                <div class="col-100">
                    <table width="100%" class="text-left table_bordered table_pad">
                        <thead>
                            <tr>
                                <th class="pl-4">SparePart Description </th>
                                <th class="pl-4">Part Code</th>
                                <th class="pl-4">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="bg-skyblue">
                            @{int i = 0;
                                int sp_count = Model.SparePartList.Count();
                            }
                            @foreach (var spritem in Model.SparePartList)
                            {
                                if (i < 4)
                                {
                                    <tr>
                                        <td>@spritem.SparePartName</td>
                                        <td>@spritem.SparePartNumber</td>
                                        <td>@spritem.Quantity</td>
                                    </tr>
                                }
                                {
                                    i++;
                                }
                            }
                            @if (sp_count < 4)
                            {
                                if (sp_count == 0)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                if (sp_count == 1)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                if (sp_count == 2)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                if (sp_count == 3)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>

                <div class="col-33">
                    <label class="pl-4">Customer Approval</label>
                    <div class="full_border bg-skyblue">
                        <table style="width: 100%; padding: 0 10px 5px">
                            <tr>
                                <td> Name.:</td>
                                @if (item.CreatedUserRoleId == 503)
                                {
                                    <td><input type="text" class="dotted_border" value="@item.CreatedUser"></td>
                                }
                                else if (item.CreatedUserRoleId != 503)
                                {
                                    <td><input type="text" class="dotted_border" value="@item.ManagerFullName"></td>
                                }

                            </tr>
                            <tr>
                                <td> Date.:</td>
                                @if (item.CreatedUserRoleId == 503)
                                {
                                    <td><input type="text" class="dotted_border" value="@item.CustomerConfirmationDate"></td>
                                }
                                else if (item.CreatedUserRoleId != 503)
                                {
                                    <td><input type="text" class="dotted_border" value="@item.ManagerConfirmationDate"></td>
                                }
                            </tr>
                            <tr>
                                <td> Signature.:</td>
                                <td><input type="text" class="dotted_border"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-33">
                    <label class="pl-4">Name Of Engineer.</label>
                    <div class="full_border bg-skyblue">
                        <table style="width: 100%; padding: 0 10px 5px">
                            <tr>
                                <td> Name.:</td>
                                <td><input type="text" class="dotted_border pb-5" value="@item.FullName"></td>
                            </tr>
                            <tr class="mb-15">
                                <td> Date.:</td>
                                <td><input type="text" class="dotted_border pb-5" value="@item.ServiceEngineerResolvedDate"></td>
                            </tr>
                            <tr class="mb-15">
                                <td> Signature.:</td>
                                <td><input type="text" class="dotted_border pb-5"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-33">
                    <label class="pl-4">Name Of Manager.</label>
                    <div class="full_border bg-skyblue">
                        <table style="width: 100%; padding: 0 10px 5px">
                            <tr>
                                <td> Name.:</td>
                                <td><input type="text" class="dotted_border pb-5" value="@item.ManagerName"></td>
                            </tr>
                            <tr class="mb-15">
                                <td> Date.:</td>
                                <td><input type="text" class="dotted_border pb-5" value="@item.ManagerConfirmationDate"></td>
                            </tr>
                            <tr class="mb-15">
                                <td> Signature.:</td>
                                <td><input type="text" class="dotted_border pb-5"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <p style="color:red;" class="pb-15 mb-15">This is an Electronically generated Service Report and no signature is required.</p>
        </div>

        <input type="hidden" id="hdnTicketNumber" value="@item.TicketNumber" />
        <input type="hidden" id="hdnSerialNumber" value="@item.SerialNo" />
        <input type="hidden" id="hdnAccount" value="@item.AccountName" />

    }

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script>

        //$('#btnExport').click(function () {
        //    alert('ok')
        //    var options = {
        //    };
        //    var pdf = new jsPDF('p', 'pt', 'a4');
        //    pdf.addHTML($("#tblCustomers"), 15, 15, options, function () {
        //        pdf.save('pageContent.pdf');
        //    });
        //});
        $(document).ready(function () {
            var options = {
            };
            var pdf = new jsPDF('l', 'mm', [297, 210]);

            var sn = $('#hdnSerialNumber').val();
            var tn = $('#hdnTicketNumber').val();
            var acn = $('#hdnAccount').val();
            var name = tn + sn + "-" + acn + ".pdf";

            pdf.addHTML($("#tblCustomers"), 15, 15, options, function () {
                pdf.save(name);
            });
            //html2canvas($('#tblCustomers')[0], {
            //    onrendered: function (canvas) {

            //        var data = canvas.toDataURL();
            //        var docDefinition = {
            //            content: [{
            //                image: data,
            //                width: 500
            //            }]
            //        };
            //        var sn = $('#hdnSerialNumber').val();
            //        var tn = $('#hdnTicketNumber').val();
            //        var name = tn + sn + ".pdf";
            //        pdfMake.createPdf(docDefinition).download(name);
            //    }
            //});
        });
                        //$("body").on("click", "#btnExport", function () {
                        //    $('#btnExport').hide();``

                        //    html2canvas($('#tblCustomers')[0], {
                        //        onrendered: function (canvas) {

                        //            var data = canvas.toDataURL();
                        //            var docDefinition = {
                        //                content: [{
                        //                    image: data,
                        //                    width: 500
                        //                }]
                        //            };
                        //            var sn = $('#hdnSerialNumber').val();
                        //            var tn = $('#hdnTicketNumber').val();
                        //            var name = tn + sn + ".pdf";
                        //            pdfMake.createPdf(docDefinition).download(name);
                        //        }
                        //    });
                        //});
    </script>
</body>

</html>

