@model HelpDesk.Web.Models.TicketDTO
<style>
    .form-bottom-border {
        border: none;
        border-bottom: 1px solid #e2e5ec;
        border-radius: 0;
        font-weight: 500
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #ffffff;
        opacity: 1;
    }
    /* === Star Rating CSS === */
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center
    }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 1em;
            font-size: 6vw;
            color: #FFD600;
            cursor: pointer
        }

            .rating > label::before {
                content: "\2605";
                position: absolute;
                opacity: 0
            }

            .rating > label:hover:before,
            .rating > label:hover ~ label:before {
                opacity: 1 !important
            }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }

    .checked {
        color: orange;
    }

    .ratingclr {
        color: #d7d7d7;
    }
</style>
<div>
    @foreach (var item in Model.TicketList)
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="kt-container  kt-grid__item kt-grid__item--fluid mt-4 position-relative">

            <div id="details_upper" class="row">
                <a href="#" onclick="closeDetails()" class="details-close-button btn btn-danger btn-sm btn-icon btn-circle position-absolute"><i class="la la-close"></i></a>
                <div class="col-md-12">
                    <div class="kt-portlet mb-1">
                        <div class="kt-portlet__head kt-portlet__head--lg position-relative">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Details
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-wrapper">
                                    <div class="kt-portlet__head-actions">
                                        @if ((item.Status != 8 && item.Status != 5) && (Model.RoleId == 501 || Model.RoleId == 502))
                                        {
                                            if (item.Status == 1 || item.Status == 2 || item.Status == 3 || item.Status == 4 || item.Status == 9 || item.Status == 10 || item.Status == 12)
                                            {
                                                <a href="#" onclick="ViewTransferDiv()" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    Trasnfer
                                                </a>
                                            }
                                        }

                                        @if ((item.Status == 8 || item.Status == 5) && (Model.RoleId == 501 || Model.RoleId == 502))
                                        {
                                            <a href="#" onclick="UpdateStatus(9)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-check"></i>
                                                Approve
                                            </a>
                                            <a href="#" onclick="UpdateStatus(10)" class="btn btn-danger btn-elevate btn-icon-sm">
                                                <i class="la la-close"></i>
                                                Reject
                                            </a>
                                        }
                                        @if (Model.RoleId == 505 && item.Status == 1)
                                        {
                                            <a href="#" id="anchr_addresponse" onclick="ViewResponseDiv()" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-clock-o"></i>
                                                Add Response Time
                                            </a>
                                        }
                                        @if (Model.RoleId == 505 && (item.Status == 12 || item.Status == 4 || item.Status == 9))
                                        {
                                            <a href="#" onclick="UpdateStatus(3)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-clock-o"></i>
                                                Start
                                            </a>
                                        }
                                        @if (Model.RoleId == 505 && item.Status == 2)
                                        {
                                            <a href="#" onclick="UpdateStatus(4)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-clock-o"></i>
                                                Pause
                                            </a>
                                            <a href="#" onclick="ViewSparePartRequestDiv()" class="btn btn-brand btn-elevate btn-icon-sm" data-toggle="modal" data-target="#kt_modal_4">
                                                <i class="la la-reply"></i>
                                                Required Spare Part
                                            </a>
                                            <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-info"></i>
                                                Service Report
                                            </a>
                                        }
                                        @if (Model.RoleId == 503)
                                        {
                                            if (item.Status == 6)
                                            {
                                                <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    <i class="la la-check"></i>
                                                    Service Report
                                                </a>
                                            }
                                            else if (item.Status == 13 || item.Status == 7)
                                            {

                                                <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    <i class="la la-check"></i>
                                                    Service Report
                                                </a>
                                            }
                                        }
                                        else if (Model.RoleId == 504)
                                        {
                                            if (item.Status == 6)
                                            {

                                                <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    <i class="la la-check"></i>
                                                    Service Report
                                                </a>
                                            }
                                            else if (item.Status == 13 || item.Status == 7)
                                            {

                                                <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    <i class="la la-check"></i>
                                                    Service Report
                                                </a>
                                            }
                                        }
                                        else if (Model.RoleId == 505)
                                        {
                                            if (item.Status == 6)
                                            {

                                                <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    <i class="la la-check"></i>
                                                    Service Report
                                                </a>
                                            }
                                            else if (item.Status == 13 || item.Status == 7 || item.Status == 1013 || item.Status == 14)
                                            {

                                                <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                    <i class="la la-check"></i>
                                                    Service Report
                                                </a>
                                            }
                                        }
                                        else if ((item.Status != 8 && item.Status != 5) && Model.RoleId == 501)
                                        {
                                            <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-check"></i>
                                                Service Report
                                            </a>
                                        }
                                        else if (Model.RoleId == 502)
                                        {
                                            <a href="#" onclick="UpdateStatus(00)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-check"></i>
                                                Service Report
                                            </a>

                                            if (item.Status != 1015 && item.Status != 6 && item.Status != 7) /*&& item.Status != 7*/
                                            {
                                                <a href="#" onclick="UpdateStatus(1015)" class="btn btn-warning btn-elevate btn-icon-sm">
                                                    <i class="la la-crosshairs"></i>
                                                    de-activate
                                                </a>
                                            }
                                        }
                                        @*@if (item.Status == 1015)
                                        {
                                        <p style="margin-bottom: 0px;" class="btn btn-warning btn-elevate btn-icon-sm">de-activated</p>
                                        }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Transfer_Div" style="display:none" class="kt-portlet__body">
                            <h2 class="mb-4">Ticket Transfer</h2>
                            <div class="form-group mb-0">
                                <div class="row mb-4">
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <select id="ddlServiceEngineer" class="form-control">
                                                @if (Model.ServiceEngineerList != null)
                                                {
                                                    <option value="0">--Please Select--</option>
                                                    foreach (var rptr in Model.ServiceEngineerList)
                                                    {
                                                        <option value="@rptr.UserId">@rptr.FullName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" onclick="TransferTicket()" class="btn btn-label-brand btn-bold">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="AddResponseTime_Div" style="display:none" class="kt-portlet__body">
                            <div class="form-group mb-0 row">
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" placeholder="Select Date" id="txtResponseTime" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-clock-o glyphicon-th"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="pt-2 h4 color-primary"><strong> @item.ReportTypeName </strong></span>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#" onclick="AddResponsetime()" class="btn btn-label-brand btn-bold">Submit</a>
                                </div>
                            </div>
                        </div>
                        <div id="Sparepartrequest_Div" style="display:none" class="kt-portlet__body">
                            <h2 class="mb-4">Required Spare Part</h2>
                            <div class="form-group mb-3">
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="warehouseASG" value="A" checked> Assigned
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="warehouseASG" value="O"> Other
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-0" id="assigned_warehouse_div" style="display:block;">
                                <div class="row mb-4">
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <select id="ddlwarehouseA" class="form-control" onchange="bindSparePartsOnChange()">
                                                @if (Model.WarehouseList != null)
                                                {
                                                    <option value="0">--Please Select--</option>
                                                    foreach (var rptr in Model.WarehouseList.Where(x => x.Gruop == "Assigned"))
                                                    {
                                                        <option value="@rptr.WarehouseId">@rptr.WarehouseName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group date">
                                            <select id="ddlsparehouseA" class="form-control" onchange="bindSparePartDataA()"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="spareparts_div">
                                            <table id="tbl_spareparts_ag" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th> # </th>
                                                        <th> Spare Part </th>
                                                        <th> Price </th>
                                                        <th> select quantity </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tr_div_ag"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" onclick="AddSparePartRequestA()" class="btn btn-label-brand btn-bold">Submit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0 row" id="other_warehouse_div" style="display:none;">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <select id="ddlwarehouse" class="form-control" onchange="bindsparepartSubFuntion()">
                                            @if (Model.WarehouseList != null)
                                            {
                                                <option value="0">--Please Select--</option>
                                                foreach (var rptr in Model.WarehouseList.Where(x => x.Gruop == "Other"))
                                                {
                                                    <option value="@rptr.WarehouseId">@rptr.WarehouseName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <select id="ddlsparehouse" class="form-control" onchange="bindSparePartData()"></select>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="col-sm-12">
                                    <div id="spareparts_div">
                                        <table id="tbl_spareparts" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Spare Part </th>
                                                    <th> Price </th>
                                                    <th> select quantity </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tr_div"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#" onclick="AddSparePartRequest()" class="btn btn-label-brand btn-bold">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="div_pv_details" class="row">
                <div class="col-md-8">
                    <div class="kt-portlet ">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <div class="kt-portlet__head-wrapper">
                                    <div class="kt-portlet__head-actions">
                                        Created By : <strong class="color-primary">@item.CreatedUser</strong>
                                        &nbsp;&nbsp;&nbsp;
                                        Created On : <strong class="color-primary">@item.CreatedOn.ToString("dd-MM-yyyy HH:mm")</strong>
                                    </div>
                                    <input type="hidden" id="hdnCreatedDate" value="@item.CreatedOn" />
                                </div>
                                @*<h4 class="kt-portlet__head-title">Created By: &nbsp;&nbsp;&nbsp; @item.CreatedUser</h4>*@
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-wrapper">
                                    <div class="kt-portlet__head-actions">
                                        Priority : <strong class="color-primary">@item.Priority</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-widget kt-widget--user-profile-3">
                                <div class="kt-widget__top">
                                    <div class="kt-widget__content pl-0">
                                        <div class="kt-widget__info">
                                            <div class="kt-widget__desc">
                                                <strong>Ticket Discription : </strong>
                                                <p>
                                                    @item.Description
                                                </p>
                                                <strong>Rating : </strong>
                                                @for (int i = 0; i < item.RatingCount; i++)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                }
                                                @{
                                                    if (item.RatingCount == 0)
                                                    {
                                                        for (int i = 0; i < 5; i++)
                                                        {
                                                            <span class="fa fa-star-o"></span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        int rtcnt = 5 - item.RatingCount;
                                                        for (int i = 0; i < rtcnt; i++)
                                                        {
                                                            <span class="fa fa-star-o"></span>
                                                        }
                                                    }
                                                }
                                                <p>@item.RatingText</p>
                                                @*<span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-widget__body"></div>
                                <div class="kt-widget__bottom">
                                    <ul class="ticketbar">
                                        @{
                                            int cntstatus = Model.StatusLst.Count();
                                            int deft = 1;
                                        }
                                        @foreach (var statusitm in Model.StatusLst)
                                        {
                                            if (deft == cntstatus)
                                            {
                                                <li>@statusitm.Statustxt</li>
                                            }
                                            else
                                            {
                                                <li class="active">@statusitm.Statustxt</li>
                                            }

                                            deft = deft + 1;
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        @if (Model.SparePartList.Count() > 0)
                        {
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Requested Inventory Items
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Warehouse Name</th>
                                                <th>SparePart Name</th>
                                                <th>Spare Part No.</th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var spritem in Model.SparePartList)
                                            {
                                                <tr>
                                                    <td>@spritem.WarehouseName</td>
                                                    <td>@spritem.SparePartName</td>
                                                    <td>@spritem.SparePartNumber</td>
                                                    <td>@spritem.Quantity</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Details
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <table class="ticket-full-details table table-borderless table-sm">
                                @*<tr>
                    <td>Created By.</td>
                    <td>: @item.CreatedUser</td>
                </tr>
                <tr>
                    <td>Created On.</td>
                    <td>: @item.CreatedOn.ToString("dd-MM-yyyy HH:mm")</td>
                </tr>*@
                                <tr>
                                    <td>Ticket No.</td>
                                    <td>: @item.TicketNumber</td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td>: @item.Area</td>
                                </tr>
                                <tr>
                                    <td>Station</td>
                                    <td>: @item.StationName</td>
                                </tr>
                                <tr>
                                    <td>Account</td>
                                    <td>: @item.AccountName</td>
                                </tr>
                                <tr>
                                    <td>Product</td>
                                    <td>: @item.ProductName</td>
                                </tr>
                                <tr>
                                    <td>Modal</td>
                                    <td>: @item.ModelName</td>
                                </tr>
                                <tr>
                                    <td>Serial No</td>
                                    <td>: @item.SerialNo</td>
                                </tr>
                                <tr>
                                    <td>System Id</td>
                                    <td>: @item.SystemNo</td>
                                </tr>
                                <tr>
                                    <td>Service Engineer.</td>
                                    <td>: @item.FullName</td>
                                </tr>
                                <tr>
                                    <td>Schedule Time</td>
                                    <td>: @item.RequestResponseStr</td>
                                </tr>
                                <tr>
                                    <td>Actual Start Time</td>
                                    <td>: @item.ActualStartTime</td>
                                </tr>

                                <tr>
                                    <td>Resolved Time</td>
                                    <td>: @item.ResolvedTime</td>
                                </tr>
                                <tr>
                                    <td>Closed Date</td>
                                    <td>: @item.TicketClosedDate</td>
                                </tr>
                            </table>
                        </div>
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                   Supervisor Details
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <table class="ticket-full-details table table-borderless table-sm">
                                <tr>
                                    <td>Name </td>
                                    <td>: @item.SupervisorName</td>
                                </tr>
                                <tr>
                                    <td>Email </td>
                                    <td>: @item.SupervisorEmail</td>
                                </tr>
                                <tr>
                                    <td>Contact Number </td>
                                    <td>: @item.SupervisorContact</td>
                                </tr>
                            </table>
                        </div>
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                   Customer Manager Details
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <table class="ticket-full-details table table-borderless table-sm">
                                <tr>
                                    <td>Name </td>
                                    <td>: @item.ManagerFullName</td>
                                </tr>
                                <tr>
                                    <td>Email </td>
                                    <td>: @item.ManagerEmail</td>
                                </tr>
                                <tr>
                                    <td>Contact Number </td>
                                    <td>: @item.ManagerMobile</td>
                                </tr>
                            </table>
                        </div>
                        @if (Model.UrlList.Count() > 0)
                        {
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Documents Attached
                                    </h3>
                                </div>
                            </div>

                            <div class="row p-4">
                                @{
                                    int asa = 1;
                                }

                                @foreach (var url_items in Model.UrlList)
                                {
                                    <div class="col-md-4">
                                        <a data-toggle="modal" href="#full_@asa" class="text-dark">
                                            <i class="fa fa-file fa-3x" aria-hidden="true"></i>
                                            <h6 class="mt-2">Document</h6>
                                        </a>
                                    </div>

                                    <div class="modal fade" id="full_@asa" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-full">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title">Document</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <img style="width:99%;" src="@url_items.Url" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    asa = asa + 1;
                                }
                            </div>
                        }
                        @if (Model.PPMScheduleURL != "0")
                        {
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Bussiness Document
                                    </h3>
                                </div>
                            </div>
                            <div class="row p-4">
                                <div class="col-md-4">
                                    <a href="@Model.PPMScheduleURL" target="_blank" class="text-dark">
                                        <i class="fa fa-file fa-3x" aria-hidden="true"></i>
                                        @*@if (Model.Extention == ".xlxs" || Model.Extention == ".csv" || Model.Extention == ".xlsb" || Model.Extention == ".xltx" || Model.Extention == ".xlt" || Model.Extention == ".xls"
                                   || Model.Extention == ".doc" || Model.Extention == ".docx"
                                   )
                        {
                            <iframe src="@Model.PPMScheduleURL" width="500" height="500"></iframe>
                        }
                        else
                        {
                            <embed src="@Model.PPMScheduleURL" target="_blank" width="500" height="375"
                                   type="application/pdf">
                        }*@
                                        <h6 class="mt-2">Document</h6>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Recent Post
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-widget4">
                                @if (Model.CommentsList.Count() > 0)
                                {
                                    foreach (var cmtitem in Model.CommentsList)
                                    {
                                        <div class="kt-widget4__item">
                                            <div class="kt-widget4__info">
                                                <span class="kt-widget4__username">
                                                    @cmtitem.FullName
                                                </span>
                                                <p class="kt-widget4__text">
                                                    @cmtitem.Comment
                                                </p>
                                            </div>
                                            <span>@cmtitem.Commentsdate</span>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div>
                                <h4 class="kt-portlet__head-title">Post A Comment</h4>
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type notes"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-label-brand btn-bold" onclick="AddComments(@item.TicketNumber)">Add notes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="service_report_prw" style="display:none;">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title text-uppercase">
                                        Service Report
                                    </h3>
                                </div>

                                <div class="kt-portlet__head-toolbar">
                                    <div class="kt-portlet__head-wrapper">
                                        <div class="kt-portlet__head-actions">
                                            @if (item.Status == 7)
                                            {
                                                <span class="badge badge-primary badge-pill px-3 mr-2">
                                                    Closed
                                                </span>
                                                <a href="@Url.Action("ServiceReport","Ticket",new { id=item.TicketNumber+"-"+item.SerialNo+"-"+item.AccountName+"SR",TicketNumber = item.TicketNumber })" target="_blank" class="btn btn-brand btn-elevate btn-icon-sm btn-sm">
                                                    <i class="la la-print"></i>
                                                    Print
                                                </a>
                                            }
                                            else
                                            {
                                                if (Model.RoleId == 505 && item.Status == 2)
                                                {
                                                    <a href="#" onclick="UpdateStatus(6)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                        <i class="la la-check"></i>
                                                        Resolve
                                                    </a>
                                                }
                                                else if (item.CreatedUserRoleId == 503 && Model.RoleId == 503 && item.Status == 6 && (item.ReportId == 1 || item.ReportId == 4))
                                                {
                                                    <a href="#" onclick="UpdateStatus(13)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                        <i class="la la-check"></i>
                                                        Confirm
                                                    </a>
                                                }
                                                @*  TicketType/ReportType
            1 for Warranty
            2 for Charged Repair
            4 for Service Contract
            9 for PPM
                                                *@
                                                else if (Model.RoleId == 504)
                                                {
                                                    //(item.CreatedUserRoleId == 503 &&
                                                    if (item.Status == 13 || item.Status == 6)
                                                    {
                                                        <a href="#" onclick="UpdateStatus(14)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                            <i class="la la-check"></i>
                                                            Confirm
                                                        </a>
                                                    }
                                                    @*if (item.CreatedUserRoleId == 503 && item.Status == 13 && (item.ReportId == 1 || item.ReportId == 4))
                 {
                           <a href="#" onclick="UpdateStatus(14)" class="btn btn-brand btn-elevate btn-icon-sm">
                               <i class="la la-check"></i>
                               Confirm
                           </a>
                        }
                               else if (item.CreatedUserRoleId != 503 && item.Status == 6 )/*&& (item.ReportId == 9 || item.ReportId == 2 || item.ReportId == 1 || item.ReportId == 4)*/
                               {
                           <a href="#" onclick="UpdateStatus(14)" class="btn btn-brand btn-elevate btn-icon-sm">
                               <i class="la la-check"></i>
                               Confirm
                           </a>
                }*@
                                                }
                                                else if (Model.RoleId == 502 && item.Status == 6 && (item.CreatedUserRoleId == 501 || item.CreatedUserRoleId == 502))
                                                {
                                                    <a href="#" onclick="UpdateStatus(1013)" class="btn btn-brand btn-elevate btn-icon-sm">
                                                        <i class="la la-check"></i>
                                                        Confirm
                                                    </a>
                                                }
                                            }
                                            <a href="#" onclick="closeServiceReport()" class="details-close-button btn btn-danger btn-sm btn-icon btn-circle position-absolute"><i class="la la-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-form">
                                <div class="kt-portlet__body">
                                    <div class="row">


                                        @*<div class="form-group">
            <label>File Browser</label>
            <div></div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>*@
                                        @if (Model.RoleId == 505 && item.Status == 2)
                                        {
                                            <div class="form-group col-xl-12">
                                                <label for="exampleTextarea">Bussiness Document</label>
                                                <div>
                                                    <span id="lblError" style="color: red;"></span>
                                                    <br />
                                                    <input type="file" id="file_ppmschedule" onChange='getFileNameWithExt(event)' />
                                                    @*onchange="return ValidateExtension()"*@
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group col-xl-12">
                                            <label for="exampleTextarea">Problem Description</label>
                                            @if (Model.RoleId == 505 && item.Status == 2)
                                            {
                                                <textarea onchange="checkwhitespacepd()" id="txtproblemdescription" class="form-control" rows="3" @(Model.RoleId == 505 ? "" : "disabled")></textarea>
                                                <p class="mb-0 pull-right"><span id="spn_cnt_pd">0</span>/1000</p>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ProblemDescription">
                                            }
                                        </div>
                                        <div class="form-group col-xl-12">
                                            <label for="exampleTextarea">Activities Done</label>
                                            @if (Model.RoleId == 505 && item.Status == 2)
                                            {
                                                <textarea onchange="checkwhitespace()" id="txtactivitydone" class="form-control" rows="3" @(Model.RoleId == 505 ? "" : "disabled")></textarea>
                                                <p class="mb-0 pull-right"><span id="spn_cnt">0</span>/1000</p>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.Actioncomments">
                                            }
                                        </div>
                                        <div class="form-group col-xl-12">
                                            <label for="exampleTextarea">Next Action / Follow Up Required</label>
                                            @if (Model.RoleId == 505 && item.Status == 2)
                                            {
                                                <textarea onchange="checkwhitespace()" id="txtnextaction" class="form-control" rows="3" @(Model.RoleId == 505 ? "" : "disabled")></textarea>
                                                <p class="mb-0 pull-right"><span id="spn_cnt_ot">0</span>/1000</p>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.NextAction">
                                            }
                                        </div>

                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Ticket Number</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.TicketNumber">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Customer ID</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.AccountCode">
                                        </div>

                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Customer Name</label>
                                            @*<input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ManagerFullName">*@
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.AccountName">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Customer Location</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.Area">
                                        </div>

                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Customer Mobile No.</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ManagerMobile">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Customer Email</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ManagerEmail">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>System ID</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.SystemNo">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Product</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ProductName">
                                        </div>

                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Equipment Model</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ModelName">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Equipment Serial No.</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.SerialNo">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Equipment P.O No.</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.POContract">
                                        </div>

                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Installation Date</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.InstallationDate">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Support Contract End Date</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.WarrantyExpiryDate">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Next PPM Shedule</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.PPMDate">
                                        </div>

                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Service Start Date & Time</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ServiceStartDate">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Service End Date & Time</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ServiceEngineerResolvedDate">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Work Hours</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.WorkHours">
                                        </div>
                                        <div class="form-group col-xl-4 col-md-6">
                                            <label>Report Type</label>
                                            <input type="text" class="form-control form-bottom-border" name="ServiceRptr" value="@item.ReportTypeName">
                                        </div>
                                        @if (Model.SparePartList.Count() > 0)
                                        {
                                            <div class="kt-portlet__head">
                                                <div class="kt-portlet__head-label">
                                                    <h3 class="kt-portlet__head-title">
                                                        Requested Inventory Items
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Warehouse Name</th>
                                                                <th>SparePart Description</th>
                                                                <th>Part Code</th>
                                                                <th>Quantity</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var spritem in Model.SparePartList)
                                                            {
                                                                <tr>
                                                                    <td>@spritem.WarehouseName</td>
                                                                    <td>@spritem.SparePartName</td>
                                                                    <td>@spritem.SparePartNumber</td>
                                                                    <td>@spritem.Quantity</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <div class="form-group col-md-4">
                                            <label> Engineer</label>
                                            <h5>
                                                @item.FullName<br />
                                                <small>
                                                    @item.ServiceEngineerResolvedDate
                                                    @*11-12-2019 04:00 PM*@
                                                </small>
                                            </h5>
                                        </div>
                                        @if (Model.CreatedUserRoleId == 503)
                                        {
                                            <div class="form-group col-md-4">
                                                <label> Customer</label>
                                                <h5>
                                                    @item.CreatedUser
                                                    <br />
                                                    <small>
                                                        @item.CustomerConfirmationDate
                                                    </small>
                                                </h5>
                                            </div>
                                        }
                                        <div class="form-group col-md-4">
                                            <label> System Manager</label>
                                            <h5>
                                                @item.ManagerName
                                                <br />
                                                <small>
                                                    @item.ManagerConfirmationDate
                                                </small>
                                            </h5>
                                        </div>
                                        @*@if (item.ReportId == 1 || item.ReportId == 2 || item.ReportId == 4 || item.ReportId == 9)
        {
            <div class="form-group col-md-4">
                <label> System Manager</label>
                <h5>
                    @item.ManagerName
                    <br />
                    <small>
                        @item.ManagerConfirmationDate
                    </small>
                </h5>
            </div>
        }
        else
        {
            <div class="form-group col-md-4">
                <label> Supervisor Admin</label>
                <h5>
                    @item.SupervisorName
                    <br />
                    <small>
                        @item.SupervisorConfirmationDate
                    </small>
                </h5>
            </div>
        }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @*Recent Post Div*@
            </div>
        </div>
        <input type="hidden" id="hdnTicketNumber" value="@item.TicketNumber" />
        <input type="hidden" id="hdnAssignedWarehouseId" value="@item.MappedWarehouseId" />
        <input type="hidden" id="hdnActionComments" value="@item.Actioncomments" />
    }



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rate The Ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="rating">
                        <input type="radio" name="rating" value="5" id="5" checked><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <textarea rows="5" cols="70" id="txtrating"></textarea>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="ManagerConfirmation(14)">Confirm Ticket</a>
                    @*<button type="button" class="btn btn-primary">Confirm Ticket</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="~/assets/plugins/global/plugins.bundle.js"></script>*@
<script src="~/assets/js/bootstrap-datepicker.js"></script>
@*<script src="~/assets/js/select2.js"></script>*@
<script type="text/javascript">

    function getFileNameWithExt(event) {
        debugger
        if (!event || !event.target || !event.target.files || event.target.files.length === 0) {
            return;
        }

        const name = event.target.files[0].name;
        const lastDot = name.lastIndexOf('.');

        const fileName = name.substring(0, lastDot);
        const ext = name.substring(lastDot + 1);

        if (ext == "doc" || ext == "docx" || ext == "pdf" || ext == "xls" || ext == "xlsx" || ext == "jpg" || ext == "jpeg" || ext == "png") {
            lblError.innerHTML = "";
            return true;
        }
        else {
            lblError.innerHTML = "Please upload files having extensions: .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png only.";
            $('#file_ppmschedule').val('');
            return false;
        }
    }

    function ValidateExtension() {
        var allowedFiles = [".doc", ".docx", ".pdf", ".xls", ".xlsx", ".jpg", ".jpeg",".png"];
        var fileUpload = document.getElementById("file_ppmschedule");
        var lblError = document.getElementById("lblError");
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(fileUpload.value.toLowerCase())) {
            lblError.innerHTML = "Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.";
            $('#file_ppmschedule').val('');
            return false;
        }
        lblError.innerHTML = "";
        return true;
    }

    $(document).ready(function () {
        document.getElementById("loader").style.display = "none";




        //$('#txtactivitydone').val($('#hdnActionComments').val());
        //ServiceRptr
        $('input[type=text][name=ServiceRptr]').prop("disabled", true);
        $('#ddlreportType,#ddlwarehouse,#ddlsparehouse,#ddlsparehouseA,#ddlwarehouseA,#ddlServiceEngineer').select2({});
        $('input[type=radio][name=warehouseASG]').change(function () {
            if (this.value == 'A') {
                $('#assigned_warehouse_div').show();
                $('#other_warehouse_div').hide();
            }
            else if (this.value == 'O') {
                $('#assigned_warehouse_div').hide();
                $('#other_warehouse_div').show();
            }
        });
        var arrows;
        if (KTUtil.isRTL()) {
            arrows = {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        }
        else {
            arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        }

        $('#txtResponseTime').datetimepicker({
            minDate: new Date(),
            todayHighlight: true,
            autoclose: true,
            format: 'yyyy.mm.dd hh:ii'
        });
        $("#txtactivitydone").keyup(function () {
            var lnght = $('#txtactivitydone').val().length;
            $('#spn_cnt').html(lnght);
        });
        $("#txtproblemdescription").keyup(function () {
            var lnght = $('#txtproblemdescription').val().length;
            $('#spn_cnt_pd').html(lnght);
        });
    });
    function ViewTransferDiv() {
         $('#Transfer_Div').slideToggle();
    }
    function TransferTicket() {
        document.getElementById("loader").style.display = "block";
        var ServiceEngineerId = $('#ddlServiceEngineer').val();
        if (ServiceEngineerId == "" || ServiceEngineerId == null) {
            alert('Fields Required');
            document.getElementById("loader").style.display = "none";
            return false;
        }
        $.ajax({
            type: "Post",
            url: '@Url.Action("TicketTransfer")',
            datatype: "json",
            data: { ServiceEngineerId: ServiceEngineerId, TicketNumber: $('#hdnTicketNumber').val() },
            success: function (data) {
                var v = data.success;
                if (v == true) {
                    TicketDetails($('#hdnTicketNumber').val());
                }
                else {
                    alert('Some thing went wrong');
                }
                document.getElementById("loader").style.display = "none";
            },
            error: function () {
                alert('error');
                document.getElementById("loader").style.display = "none";
            }
        });
    }
    function PrintServiceReport() {
         window.print();
    }
    function checkwhitespace() {
        var txt = $('#txtactivitydone').val();
        var val = (txt === null || txt.match(/^ *$/) !== null);
        if (val == true) {
            $('#txtactivitydone').val('');
        }
    }
    function checkwhitespacepd() {
        var txt = $('#txtproblemdescription').val();
        var val = (txt === null || txt.match(/^ *$/) !== null);
        if (val == true) {
            $('#txtproblemdescription').val('');
        }
    }
    function closeServiceReport() {
        $('#div_pv_details').show();
        $('#service_report_prw').hide();
        $('#details_upper').show();
    }
    function ViewDocument(url) {
        var district = "<div id='TextBoxContainerCategories4'>";
        district = district + '<img style="width:99%;" src="' + url + '"/>'
        return $('#TextBoxContainerCategories4').html(district);
    }
    function AddComments() {
        document.getElementById("loader").style.display = "block";
        var Commentstext = $('#exampleTextarea').val();
        if (Commentstext=="") {
            alert('Fields Required');
             document.getElementById("loader").style.display = "none";
            return false;
        }
        $.ajax({
            type: "Post",
            url: '@Url.Action("NewComments")',
            datatype: "json",
            data: { txt: Commentstext, TicketNumber: $('#hdnTicketNumber').val() },
            success: function (data) {
                var v = data.success;
                if (v == true) {
                    TicketDetails($('#hdnTicketNumber').val());
                }
                else {
                    alert('Some thing went wrong');
                }
                document.getElementById("loader").style.display = "none";
            },
            error: function () {
                alert('error');
                document.getElementById("loader").style.display = "none";
            }
        });
    }
    function AddSparePartRequest() {
        var jsonary = [];
        $('#tbl_spareparts tr').each(function () {
            if (this.id != "") {
                var dyn_matrix_data = {};
                dyn_matrix_data.SparePartId = this.id;

                dyn_matrix_data.Quantity = $('#ddlqnty_' + this.id).val();
                dyn_matrix_data.TicketNumber = $('#hdnTicketNumber').val();
                dyn_matrix_data.WarehouseId = $('#ddlwarehouse').val();
                jsonary.push(dyn_matrix_data);
            }
        });
        if (jsonary == 0) {
            alert('select spare parrts');
            return false;
        }
        else {
            console.log(JSON.stringify(jsonary));
             document.getElementById("loader").style.display = "block";
            $.ajax({
                type: "Post",
                url: '@Url.Action("NewSparePartRequest")',
                datatype: "json",
                data: { json: JSON.stringify(jsonary),TicketNumber: $('#hdnTicketNumber').val(),Type:2 },
                success: function (data) {
                    var v = data.success;
                    if (v == true) {
                        TicketDetails($('#hdnTicketNumber').val());
                    }
                    else {
                        alert('Some thing went wrong');
                    }
                    document.getElementById("loader").style.display = "none";
                },
                error: function () {
                    alert('error');
                    document.getElementById("loader").style.display = "none";
                }
            });
        }
    }
    function AddSparePartRequestA() {
        var jsonary = [];
        $('#tbl_spareparts_ag tr').each(function () {
            if (this.id != "") {
                var dyn_matrix_data = {};
                dyn_matrix_data.SparePartId = this.id;
                dyn_matrix_data.Quantity = $('#ddlqnty_' + this.id).val();
                dyn_matrix_data.TicketNumber = $('#hdnTicketNumber').val();
                dyn_matrix_data.WarehouseId = $('#ddlwarehouseA').val();
                jsonary.push(dyn_matrix_data);
            }
        });

        if (jsonary == 0) {
            alert('select spare parrts');
            return false;
        }
        else {
            console.log(JSON.stringify(jsonary));
             document.getElementById("loader").style.display = "block";
            $.ajax({
                type: "Post",
                url: '@Url.Action("NewSparePartRequest")',
                datatype: "json",
                data: { json: JSON.stringify(jsonary),TicketNumber: $('#hdnTicketNumber').val(),Type:1 },
                success: function (data) {
                    var v = data.success;
                    if (v == true) {
                        TicketDetails($('#hdnTicketNumber').val());
                    }
                    else {
                        alert('Some thing went wrong');
                    }
                    document.getElementById("loader").style.display = "none";
                },
                error: function () {
                    alert('error');
                    document.getElementById("loader").style.display = "none";
                }
            });
        }
    }
    function ViewSparePartRequestDiv() {
        $('#Sparepartrequest_Div').slideToggle();
    }
    function enablevaluesparepart(id) {
        $("#ddlsparehouse option[value*='" + id + "']").removeAttr('disabled');
        $('#' + id).remove();
    }
    function enablevaluesparepartA(id) {
        $("#ddlsparehouseA option[value*='" + id + "']").removeAttr('disabled');
        $('#' + id).remove();
    }
    function bindSparePartData() {
        try {
            document.getElementById("loader").style.display = "block";
            var sparepartid = $('#ddlsparehouse').val();
            if (sparepartid == 0 || sparepartid == null || sparepartid=="0" || sparepartid=="") {
                document.getElementById("loader").style.display = "none";
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSpareListDataById")', // we are calling json method
                dataType: 'json',
                data: { sparepartid: sparepartid },
                success: function (data) {

                    var district = "";
                    district = district + ' <tr id="' + data[0].SparePartId + '"> ';
                    district = district + '<td> <i onclick="enablevaluesparepart(' + data[0].SparePartId + ')" class="la la-trash la-2x"></i></td > ';
                    district = district + '<td> ' + data[0].SparePartName + '/' + data[0].SparePartNumber + ' </td>';
                    district = district + '<td> ' + data[0].Price + ' </td>';
                    district = district + '<td>';

                    var quantity = data[0].Quantity;
                    var basequantity = data[0].BaseQuantity;

                    var qty = 0;
                    if (quantity > basequantity) {
                        qty = basequantity;
                    }
                    else if (basequantity > quantity) {
                        qty = quantity;
                    }
                    else if (basequantity == quantity) {
                        qty = quantity;
                    }
                    else if (basequantity == 0) {
                        qty = quantity;
                    }
                    district = district + '<select id="ddlqnty_' + data[0].SparePartId + '" class="form-control" > ';
                    for (var i = 1; i <= qty; i++) {
                        district = district + '<option>' + i + '</option>';
                    }
                    district = district + '</select>';
                    district = district + '</td>';
                    district = district + '</tr>';

                    $('#tr_div').append(district);
                    $("#ddlsparehouse option[value*='" + data[0].SparePartId + "']").attr('disabled', 'disabled');
                    document.getElementById("loader").style.display = "none";
                },
                error: function (ex) {
                    document.getElementById("loader").style.display = "none";
                    alert('Failed to retrieve spare parts.' + ex);
                }
            });
        } catch (e) {
            document.getElementById("loader").style.display = "none";
        }
    }
    function bindSparePartDataA() {
        document.getElementById("loader").style.display = "block";
        var sparepartid = $('#ddlsparehouseA').val();
        if (sparepartid == 0 || sparepartid == null || sparepartid == "0" || sparepartid == "") {
            document.getElementById("loader").style.display = "none";
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSpareListDataById")', // we are calling json method
            dataType: 'json',
            data: { sparepartid: sparepartid},
            success: function (data) {

                var district = "";
                district = district + ' <tr id="'+data[0].SparePartId+'"> ';
                district = district + '<td> <i onclick="enablevaluesparepartA('+data[0].SparePartId+')" class="la la-trash la-2x"></i></td > ';
                district = district + '<td> '+data[0].SparePartName+'/'+data[0].SparePartNumber+' </td>';
                district = district + '<td> '+data[0].Price+' </td>';
                district = district + '<td>';

                var quantity = data[0].Quantity;
                var basequantity = data[0].BaseQuantity;

                var qty = 0;
                if (quantity > basequantity) {
                    qty = basequantity;
                }
                else if (basequantity > quantity) {
                    qty = quantity;
                }
                else if (basequantity == quantity) {
                    qty = quantity;
                }
                else if (basequantity == 0) {
                    qty = quantity;
                }
                district = district + '<select id="ddlqnty_'+data[0].SparePartId+'" class="form-control" > ';
                for (var i = 1; i <= qty; i++) {
                    district = district + '<option>' + i + '</option>';
                }
                district = district + '</select>';
                district = district + '</td>';
                district = district + '</tr>';

                $('#tr_div_ag').append(district);
                $("#ddlsparehouseA option[value*='"+data[0].SparePartId+"']").attr('disabled','disabled');
                document.getElementById("loader").style.display = "none";
            },
            error: function (ex) {
                document.getElementById("loader").style.display = "none";
                alert('Failed to retrieve spare parts.' + ex);
            }
        });
    }
    //Assigned Warehouse on change
    function bindSparePartsOnChange() {
         $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSparePartList")', // we are calling json method
            dataType: 'json',
            data: { warehouseid: $('#ddlwarehouseA').val(),TicketNumber:$('#hdnTicketNumber').val()},
            success: function (data) {

                var district = "<select id='ddlsparehouseA' class='form-control kt-select2' multiple>";
                district = district + '<option value="0">--Select SparePart--</option>';
                for (var i = 0; i < data.length; i++) {
                    district = district + '<option value=' + data[i].SparePartId + '>' + data[i].SparePartName + '</option>';
                }
                district = district + '</select>';
                $('#ddlsparehouseA').html(district);
                document.getElementById("loader").style.display = "none";
            },
            error: function (ex) {
                document.getElementById("loader").style.display = "none";
                alert('Failed to retrieve spare parts.' + ex);
            }
        });
    }
    function bindsparepartSubFuntion() {
        document.getElementById("loader").style.display = "block";
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSparePartList")', // we are calling json method
            dataType: 'json',
            data: { warehouseid: $('#ddlwarehouse').val(),TicketNumber:$('#hdnTicketNumber').val()},
            success: function (data) {

                var district = "<select id='ddlsparehouse' class='form-control kt-select2' multiple>";
                district = district + '<option value="0">--Select SparePart--</option>';
                for (var i = 0; i < data.length; i++) {

                    district = district + '<option value=' + data[i].SparePartId + '>' + data[i].SparePartName + '</option>';
                }
                district = district + '</select>';
                $('#ddlsparehouse').html(district);
                document.getElementById("loader").style.display = "none";
            },
            error: function (ex) {
                document.getElementById("loader").style.display = "none";
                alert('Failed to retrieve spare parts.' + ex);
            }
        });
    }
    function AddResponsetime() {
        debugger
        var datetime = $('#txtResponseTime').val();
        if (datetime == null || datetime == "") {
            alert('fields required');
            return false;
        }
        var CreatedDate = $('#hdnCreatedDate').val();

        var d = new Date(CreatedDate);
        var ds = new Date(datetime);
        if (d <= ds) {
           document.getElementById("loader").style.display = "block";
             $.ajax({
                type: "Post",
                url: '@Url.Action("AddResponseTime")',
                datatype: "json",
                data: { ResponseTime: datetime, TicketNumber: $('#hdnTicketNumber').val() },
                success: function (data) {
                    var v = data.success;
                    if (v == true) {
                        TicketDetails($('#hdnTicketNumber').val());
                    }
                    else {
                        alert('Some thing went wrong');
                    }
                    document.getElementById("loader").style.display = "none";
                },
                error: function () {
                    alert('error');
                    document.getElementById("loader").style.display = "none";
                }
            });
        }
        else {
            alert("Invalid Date")
        }


    }
    function ViewResponseDiv() {
        $('#AddResponseTime_Div').slideToggle();

    }
    //async
    async function ManagerConfirmation(val) {
        debugger
        var ticketnumber = $('#hdnTicketNumber').val();
        var rating = $('input[name="rating"]:checked').val();
        var comments = $('#txtrating').val();
        $('#exampleModal').modal('toggle');
        document.getElementById("loader").style.display = "block";
        await $.ajax({
            type: 'POST',
            url: '@Url.Action("TicketRating")', // we are calling json method
            dataType: 'json',
            data: { TicketNumber: ticketnumber, rating: rating, comments: comments },
            success: function (data) {
                var v = data.success;
                if (v == true) {

                    //document.getElementById("loader").style.display = "none";
                    //var ticketno = $('#hdnTicketNumber').val();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateTicketStatus")', // we are calling json method
                        dataType: 'json',
                        data: { id: val, TicketNumber: ticketnumber, comments: '', problemdescription: '' },
                        success: function (data) {
                            var v = data.success;
                            if (v == true) {
                                //document.getElementById("loader").style.display = "none";
                                var ticketno = $('#hdnTicketNumber').val();
                                TicketDetails(ticketno)
                            }
                            else {
                                document.getElementById("loader").style.display = "none";
                                alert('Some thing went wrong');
                            }
                        },
                        error: function (ex) {
                            document.getElementById("loader").style.display = "none";
                            alert('Failed to retrieve details.' + ex);
                        }
                    });
                }
                else {
                    document.getElementById("loader").style.display = "none";
                    alert('Some thing went wrong');
                }
            },
            error: function (ex) {
                document.getElementById("loader").style.display = "none";
                alert('Failed to retrieve details.' + ex);
            }
        });
        @*var ticketnumber = $('#hdnTicketNumber').val();
         document.getElementById("loader").style.display = "block";
            await $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateTicketStatus")', // we are calling json method
                dataType: 'json',
                data: { id: val, TicketNumber: ticketnumber, comments: '',problemdescription:''  },
                success: function (data) {
                    var v = data.success;
                    if (v == true) {
                        document.getElementById("loader").style.display = "none";
                        var ticketno = $('#hdnTicketNumber').val();
                        TicketDetails(ticketno)
                    }
                    else {
                        document.getElementById("loader").style.display = "none";
                        alert('Some thing went wrong');
                    }
                },
                error: function (ex) {
                    document.getElementById("loader").style.display = "none";
                    alert('Failed to retrieve details.' + ex);
                }
            });*@
    }

    async function UpdateStatus(val) {
         var ticketnumber = $('#hdnTicketNumber').val();
        if (val == 00) {
            $('#div_pv_details').hide();
            $('#service_report_prw').show();
            $('#details_upper').hide();
        }
        else if (val == 6) {
            debugger
            document.getElementById("loader").style.display = "block";

            var fileUpload = $("#file_ppmschedule").get(0);
            var files = fileUpload.files;
            var file = document.getElementById("file_ppmschedule").src;
            //alert(file);
            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            //txtnextaction
            var txtdone = $('#txtactivitydone').val();
            if (txtdone == "" || txtdone == "N/A") {
                alert('fields required');
                document.getElementById("loader").style.display = "none";
                return false;
            }

            var nextaction = $('#txtnextaction').val();
            //if (txtdone == "" || txtdone == "N/A") {
            //    alert('fields required');
            //    document.getElementById("loader").style.display = "none";
            //    return false;
            //}

            var problemdesc = $('#txtproblemdescription').val();
            if (problemdesc == "" || problemdesc == "N/A") {
                alert('fields required');
                document.getElementById("loader").style.display = "none";
                return false;
            }

            // Adding one more key to FormData object
            fileData.append('id', val);
            fileData.append('TicketNumber', ticketnumber);
            fileData.append('comments', txtdone);
            fileData.append('problemdescription', problemdesc);
            fileData.append('nextaction', nextaction);
            

            await $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateTicketStatusFileUpload")', // we are calling json method
                dataType: 'json',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    debugger
                    var v = data.success;
                    if (v == true) {
                        document.getElementById("loader").style.display = "none";
                        var ticketno = $('#hdnTicketNumber').val();
                        TicketDetails(ticketno)
                    }
                    else {
                        document.getElementById("loader").style.display = "none";
                        alert('Some thing went wrong');
                    }
                },
                error: function (ex) {
                    document.getElementById("loader").style.display = "none";
                    alert('Failed to retrieve details.' + ex);
                }
            });
        }
        else if (val == 14) {
            $("#exampleModal").modal("show");
        }
        else {
            document.getElementById("loader").style.display = "block";
            await $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateTicketStatus")', // we are calling json method
                dataType: 'json',
                data: { id: val, TicketNumber: ticketnumber, comments: '',problemdescription:''  },
                success: function (data) {
                    var v = data.success;
                    if (v == true) {
                        document.getElementById("loader").style.display = "none";
                        var ticketno = $('#hdnTicketNumber').val();
                        TicketDetails(ticketno)
                    }
                    else {
                        document.getElementById("loader").style.display = "none";
                        alert('Some thing went wrong');
                    }
                },
                error: function (ex) {
                    document.getElementById("loader").style.display = "none";
                    alert('Failed to retrieve details.' + ex);
                }
            });
        }
    }
</script>



