@model HelpDesk.Web.Models.UserDTO

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .kt-widget.kt-widget--user-profile-1 .kt-widget__body .kt-widget__content .kt-widget__info {
        align-items: start;
    }
</style>
@foreach (var item in Model.UsersList)
{
    <div class="kt-container  kt-grid__item kt-grid__item--fluid mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet kt-portlet--height-fluid-">
                    <div class="kt-portlet__head  kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title"></h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-1">
                            <div class="kt-widget__head">
                                <div class="kt-widget__media">
                                    @*<img src="~/assets/images/default.jpg" alt="image">*@
                                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar_1">
                                        <div class="kt-avatar__holder" style="background-image: url(@Model.ProfileImageStaticUrl@item.ProfileImage)"></div>
                                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen"></i>
                                            <input id="profileimage" type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" onchange="viewbutton()">
                                        </label>
                                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                            <i class="fa fa-times"></i>
                                        </span>
                                        <a href="#" id="btnupload" onclick="updateimage()" class="btn btn-info btn-block btn-sm" style="display:none;">Update Image</a>
                                    </div>
                                </div>
                                <div class="kt-widget__content">
                                    <div class="kt-widget__section">
                                        <a href="#" class="kt-widget__username">
                                            @item.FullName
                                        </a>
                                        <span class="kt-widget__subtitle">
                                            @item.Email
                                        </span>
                                        <span class="kt-widget__subtitle">
                                            @item.Mobile
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget__body">
                                <div class="kt-widget__content">
                                    <div class="kt-widget__info">
                                        <span class="kt-widget__label">Gender:</span>

                                        @if (item.Gender == "M")
                                        {
                                            <span class="kt-widget__data">Male</span>
                                        }
                                        else if (item.Gender == "F")
                                        {
                                            <span class="kt-widget__data">Female</span>
                                        }
                                        else if (item.Gender == "O")
                                        {
                                            <span class="kt-widget__data">Other</span>
                                        }

                                    </div>
                                    <hr />
                                    <div class="kt-widget__info">
                                        <span class="kt-widget__label">Account:</span>
                                        <span class="kt-widget__data text-right">
                                            @if (Model.AccountList.Count() > 0)
                                            {
                                                foreach (var itemAcct in Model.AccountList)
                                                {
                                                    @itemAcct.AccountName <br />
                                                }
                                            }
                                        </span>
                                    </div>
                                    <hr />
                                    <div class="kt-widget__info">
                                        <span class="kt-widget__label">Products:</span>
                                        <span class="kt-widget__data text-right">
                                            @if (Model.ProductList.Count() > 0)
                                            {
                                                foreach (var item_prct in Model.ProductList)
                                                {
                                                    @item_prct.ProductName <br />
                                                }
                                            }
                                            @*Script Pro, GPI, JVM Repacking, Palex, Talyst*@
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->
            </div>
        </div>
    </div>
}
@section  Scripts{
    <script src="~/assets/js/ktavatar.js"></script>
    <script>
        document.getElementById("loader").style.display = "none";

        function viewbutton() {
            $('#btnupload').show();
        }

        function updateimage() {
            document.getElementById("loader").style.display = "block";

            var fileUpload = $("#profileimage").get(0);
            var files = fileUpload.files;
            var file = document.getElementById("profileimage").src;
            //alert(file);
            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
             $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateUserProfile")', // we are calling json method
                dataType: 'json',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    debugger
                    var v = data.success;
                    if (v == true) {
                        document.getElementById("loader").style.display = "none";
                    }
                    else {
                        document.getElementById("loader").style.display = "none";
                        alert('Some thing went wrong');
                    }
                },
                error: function (ex) {
                    document.getElementById("loader").style.display = "none";
                    alert('Failed to retrieve details.' + ex);
                }
            });
        }

    </script>
}



