@model HelpDesk.Web.Models.AssetsDTO
@section  Styles{
    <style>
        #pagination-demo {
            display: inline-block;
            margin-bottom: 1.75em;
        }

            #pagination-demo li {
                display: inline-block;
            }
    </style>
}
<div class="kt-portlet__body">
    <div class="kt-form kt-form--label-right">
        <div class="row align-items-center">
            <div class="col-xl-12 order-2 order-xl-1">
                <div class="row align-items-center mb-4">
                    <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-form__group">
                            <div class="kt-form__control" style="margin-bottom: -35px;">
                                <label>Total Records :</label>
                                <a>@Model.TotalRecords</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-form__group">
                            <div class="kt-form__label">
                            </div>
                            <div class="kt-form__control">
                                <input placeholder="search" type="text" id="txtsearch" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 kt-margin-b-20-tablet-and-mobile">
                        <div class="table-responsive">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                                <thead>
                                    <tr>
                                        <th scope="col">Account Name</th>
                                        <th scope="col">System Id</th>
                                        <th scope="col">Serial No.</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Contract Type</th>
                                        <th scope="col">Contract No</th>
                                        <th scope="col">Expiry Date</th>
                                        <th scope="col">Remaining Canister</th>

                                        @*<th scope="col">Model</th>
                                            <th scope="col">Station Name</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">IsContract</th>*@

                                        @if (Model.RoleId != 504)
                                        {
                                            <th scope="col">Status</th>
                                        }

                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.AssetsList != null)
                                    {
                                        foreach (var item in Model.AssetsList)
                                        {
                                            <tr>
                                                <td>@item.AccountName</td>
                                                <td>@item.SystemNo</td>
                                                <td>@item.SerialNo</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.ContractTypetxt</td>
                                                @*<td>@item.ModelName</td>
                                                    <td>@item.StationName</td>
                                                    <td>@item.Area</td>
                                                    <td>
                                                        @if (item.IsContract == true)
                                                        {
                                                            <p>Yes</p>
                                                        }
                                                        else
                                                        {
                                                            <p>No</p>
                                                        }
                                                    </td>*@
                                                <td>
                                                    @if (item.IsContract == true)
                                                    {
                                                        <p>@item.POContract</p>
                                                    }
                                                    else
                                                    {
                                                        <p>NA</p>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.IsContract == true)
                                                    {
                                                        <p>@item.WarrantyExpiryDate.ToString("dd-MM-yyyy")</p>
                                                    }
                                                    else
                                                    {
                                                        <p>NA</p>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.ProductId == 4)
                                                    {
                                                        @item.RemainingCanister
                                                    }
                                                    else
                                                    {
                                                        <p>NA</p>
                                                    }
                                                </td>

                                                @if (Model.RoleId != 504)
                                                {
                                                    <td>
                                                        @if (item.isActive == false && item.IsApproved == false && item.IsRejected == false)
                                                        {
                                                            <p>Under Approval</p>
                                                        }
                                                        else if (item.isActive == false && item.IsApproved == false && item.IsRejected == true)
                                                        {
                                                            <p>Rejected</p>
                                                        }
                                                        else if (item.isActive == true && item.IsApproved == true && item.IsRejected == false)
                                                        {
                                                            <p>Approved</p>
                                                        }
                                                    </td>
                                                }

                                                <td align="center">
                                                    <a href="#" onclick="ViewAssetDetails(@item.AMId)">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <ul id="pagination-demo" class="pagination-sm"></ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="hdnTotalRecordsII" value="@Model.NoOfPages" />
<input type="hidden" id="hdnPageNumberII" value="@Model.pageNumber" />

<script>
    $(document).ready(function () {
       
        $('#txtsearch').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                var accountId = $('#ddlAccounts').val();
                if (accountId == undefined || accountId == "") {
                    accountId = 0
                }
                var productId = $('#ddlProduct').val();
                if (productId == undefined || productId == "") {
                    productId = 0
                }
                var search = $('#txtsearch').val();
                if (search == null) {
                    search = "";
                }
                AssetList(1, accountId, productId, search)
            }
        });
    });
</script>

