@model HelpDesk.Web.Models.AssetsDTO

@{
    ViewBag.Title = "Assets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section  Styles{
    <link href="~/assets/css/datatables.bundle.css" rel="stylesheet" />
}
<!-- begin:: Content -->
<div id="Upper_div" class="kt-container  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">Assets List</h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <a href="@Url.Action("NewAssest","Assets")" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            New Asset
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            @*<div class="kt-form kt-form--label-right">
                    <div class="row align-items-center">
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        <div class="kt-form__label">
                                            <label>Account</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control kt-select2" id="kt_select2_12">
                                                <option>All</option>
                                                <option>King Faisal Specialist Hospital - Riyadh</option>
                                                <option>King Faisal Specialist Hospital - Jeddah</option>
                                                <option>King Abdullah Bin Abdulaziz University Hospital</option>
                                                <option>King Abdullah Medical City</option>
                                                <option>King Fahad Specialist Hospital Dammam</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        <div class="kt-form__label">
                                            <label>Product</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control kt-select2" id="kt_select2_13">
                                                <option value="">All</option>
                                                <option value="1">Script Pro</option>
                                                <option value="2">JVM</option>
                                                <option value="3">BAXTER-TPN</option>
                                                <option value="4">TALYST</option>
                                                <option value="5">PALEX</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        <div class="kt-form__label">
                                            <label>Service Engineer</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control kt-select2" id="kt_select2_14">
                                                <option>All</option>
                                                <option>Vali Noor</option>
                                                <option>Hajarath Vali</option>
                                                <option>Noor Basha</option>
                                                <option>Hussain Baig</option>
                                                <option>Md Shujath</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group">
                                        <div class="kt-form__label">
                                            <label>Status</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control kt-select2" id="kt_select2_15">
                                                <option value="">All</option>
                                                <option value="1">New</option>
                                                <option value="2">Inprogress</option>
                                                <option value="3">Resolved</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="kt-portlet__body pt-0">
            <div class="table-responsive">
                <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                    <thead>
                        <tr>
                            <th scope="col">Station Name</th>
                            <th scope="col">Serial No.</th>
                            <th scope="col">Location</th>
                            <th scope="col">IsContract</th>
                            <th scope="col">Status</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AssetsList != null)
                        {
                            foreach (var item in Model.AssetsList)
                            {
                                <tr>
                                    <td>@item.StationName</td>
                                    <td>@item.SerialNo</td>
                                    <td>@item.Area</td>
                                    <td>
                                    @if (item.IsContract==true)
                                    {
                                        <p>Yes</p>
                                    }
                                    else
                                    {
                                        <p>No</p>
                                    }
                                    </td>
                                    <td>
                                        @if (item.isActive == false && item.IsApproved == false && item.IsRejected == false)
                                        {
                                            <p>Under Approval</p>
                                        }
                                        else if (item.isActive == false && item.IsApproved == false && item.IsRejected == true)
                                        {
                                            <p>Rejected</p>
                                        }
                                        else if (item.isActive == true && item.IsApproved == true && item.IsRejected == false)
                                        {
                                            <p>Approved</p>
                                        }
                                    </td>
                                    <td align="center">
                                        <a onclick="ViewAssetDetails(@item.AMId)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!--begin: href="@Url.Action("AssetDetails","Assets")" Section-->
        </div>
    </div>
</div>
<div id="asset_details" style="display:none;"></div>
@section  Scripts{
    <script src="~/assets/js/datatables.bundle.js"></script>
    <script>
        $('#loader').hide();
        var KTDatatablesBasicPaginations = function () {
            var initTable1 = function () {
                var table = $('#kt_table_1');
                // begin first table
                table.DataTable({
                    responsive: true
                });
            };
            return {
                //main function to initiate the module
                init: function () {
                    initTable1();
                },
            };
        }();

        jQuery(document).ready(function () {
            KTDatatablesBasicPaginations.init();
        });
         function closeDetails() {
            $('#Upper_div').show();
            $('#asset_details').hide();
        }

        function ViewAssetDetails(id) {
            document.getElementById("loader").style.display = "block";
            $('#Upper_div').hide();

            $.ajax({
                type: "Post",
                url: '@Url.Action("AssetDetails")',
                datatype: "json",
                data: { id: id },
                success: function (data) {
                    document.getElementById("loader").style.display = "none";
                    $('#asset_details').show();
                    $('#asset_details').html(data);
                },
                error: function () {
                    $('#asset_details').html('');
                    document.getElementById("loader").style.display = "none";
                }
            });
        }

    </script>


}


