@model HelpDesk.Web.Models.InventoryDTO

    <link href="~/assets/css/datatables.bundle.css" rel="stylesheet" />
    <div   class="table-responsive">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
            <thead>
                <tr>
                    <th scope="col">Spare Part Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">BaseQuantity</th>
                    <th scope="col">Price</th>
                    @if (Model.RoleId == 502 || Model.RoleId == 501) 
                    {
                        <th scope="col">Edit</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.SparePartList != null)
                {
                    foreach (var item in Model.SparePartList)
                    {
                <tr>
                    <td>@item.SparePartName</td>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.BaseQuantity</td>
                    <td>@item.Price</td>
                    @if (Model.RoleId == 502 || Model.RoleId == 501)
                    {
                        <td align="center">
                            <a href="#" onclick="Sparepartdetails(@item.SparePartId)">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    }
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>

   
<script src="~/assets/js/datatables.bundle.js"></script>

<script>
    var KTDatatablesBasicPaginations = function () {

        var initTable1 = function () {
            var table = $('#kt_table_1');

            // begin first table
            table.DataTable({
                responsive: true
            });
        };

        return {

            //main function to initiate the module
            init: function () {
                initTable1();
            },

        };

    }();

    jQuery(document).ready(function () {
        KTDatatablesBasicPaginations.init();
    });

   

</script>