@model HelpDesk.Web.Models.AccountsDTO

@{
    ViewBag.Title = "c";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">New Accounts</h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <a href="@Url.Action("Create","Accounts")" class="btn btn-brand btn-elevate btn-icon-sm">
                            <i class="la la-plus"></i>
                            New Account
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body pt-0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Account Code</th>
                            <th scope="col">Account Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AccountsLst != null)
                        {
                            foreach (var item in Model.AccountsLst)
                            {
                                <tr>
                                    <td>@item.AccountCode</td>
                                    <td>@item.AccountName</td>
                                    <td>@item.isActive</td>
                                    <td align="center">
                                        <a href="@Url.Action("Edit","Account")">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!--begin: Section-->
        </div>

        <div class="kt-portlet__foot">
            <div class="kt-section">
                <p class="kt-section__content">
                    <!--begin: Pagination-->
                    <div class="kt-pagination  kt-pagination--brand">
                        <ul class="kt-pagination__links">
                            <li class="kt-pagination__link--first">
                                <a href="#"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                            </li>
                            <li class="kt-pagination__link--next">
                                <a href="#"><i class="fa fa-angle-left kt-font-brand"></i></a>
                            </li>
                            <li class="kt-pagination__link--active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>

                            <li>
                                <a href="#">10</a>
                            </li>
                            <li>
                                <a href="#">11</a>
                            </li>
                            <li>
                                <a href="#">12</a>
                            </li>
                            <li class="kt-pagination__link--prev">
                                <a href="#"><i class="fa fa-angle-right kt-font-brand"></i></a>
                            </li>
                            <li class="kt-pagination__link--last">
                                <a href="#"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                            </li>
                        </ul>
                        <div class="kt-pagination__toolbar">
                            <select class="form-control kt-font-brand" style="width: 60px;">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span class="pagination__desc">
                                Displaying 10 of 230 records
                            </span>
                        </div>
                    </div>

                    <!--end: Pagination-->
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/select2.js"></script>
    <script>
          $('#loader').hide();

        $('#kt_select2_12').select2();
        $('#kt_select2_13').select2();
        $('#kt_select2_14').select2();
        $('#kt_select2_15').select2();
    </script>
}
