<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->

<head>

    <meta charset="utf-8" />
    <title>AHC Helpdesk</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@9.7.0/dist/sweetalert2.css" rel="stylesheet" />

    <!--end::Fonts -->

    @RenderSection("styles", required: false)

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" />
    <!--end::Global Theme Styles -->
    <link href="~/assets/css/Styles.css" rel="stylesheet" />
    <style>
        .ticketbar li {
            list-style-type: none;
            width: 23%;
            float: left;
            font-size: 12px;
            font-weight: 500;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
            margin-bottom: 20px;
        }

        .scroll-250 {
            height: 180px;
            overflow-y: scroll;
        }
            /* width */
            .scroll-250::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            .scroll-250::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            /* Handle */
            .scroll-250::-webkit-scrollbar-thumb {
                background: #ccc;
                border-radius: 8px;
            }

                /* Handle on hover */
                .scroll-250::-webkit-scrollbar-thumb:hover {
                    background: #ccc;
                }

        .roundedbtn {
            font-size: 16px;
            font-weight: 400;
            color: #6f6f6f;
        }
    </style>
</head>

<body class="kt-page--loading-enabled kt-page--loading kt-page--fluid kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--skin-light kt-aside__brand--skin-light kt-aside--fixed kt-page--loading">

    <style>
        .load-sec {
            background-color: rgb(255,255,255);
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0;
            z-index: 999;
        }

        .loader span {
            position: relative;
            display: inline-block;
            width: 5px;
            height: 0;
            margin: 0;
            padding: 0;
        }

            .loader span:before, .loader span:after {
                position: absolute;
                content: '';
                height: 2px;
                width: 5px;
                background-color: #c0392b;
                animation: top 2s infinite;
            }

            .loader span:before {
                bottom: 0;
                height: 2px;
                width: 5px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            .loader span:after {
                top: 0;
                height: 2px;
                width: 5px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            .loader span:nth-of-type(1):before, .loader span:nth-of-type(1):after {
                max-height: 10px;
                background-color: #03C9A9;
            }

            .loader span:nth-of-type(2):before, .loader span:nth-of-type(2):after {
                max-height: 20px;
                background-color: #03C9A9;
            }

            .loader span:nth-of-type(3):before, .loader span:nth-of-type(3):after {
                max-height: 30px;
                background-color: #03C9A9;
            }

            .loader span:nth-of-type(4):before, .loader span:nth-of-type(4):after {
                max-height: 20px;
                background-color: #03C9A9;
            }

            .loader span:nth-of-type(5):before, .loader span:nth-of-type(5):after {
                max-height: 10px;
                background-color: #03C9A9;
            }

        @@keyframes top {
            0% {
                height: 2px;
            }

            50% {
                height: 30px;
            }

            100% {
                height: 2px;
            }
        }

        @@keyframes bottom {
            0% {
                height: 2px;
            }

            50% {
                height: 30px;
            }

            100% {
                height: 2px;
            }
        }

        @@keyframes pulsate {
            0% {
                transform: scale(1, 1);
                opacity: 0.0;
                letter-spacing: 0px;
            }

            50% {
                opacity: 1.0;
            }

            100% {
                transform: scale(1.1, 1.1);
                opacity: 0.05;
                letter-spacing: 5px;
            }
        }
    </style>

    <div id="loader" class="load-sec">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    @{
        string SSProfileImage = Session["SSprofileimage"].ToString();
    }
    <!-- begin:: Header Mobile  -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__brand">
            <a class="kt-header-mobile__logo" href="?page=index">
                <img src="~/assets/images/ahc_new_logo.png" height="35" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
                    <div class="kt-header__top">
                        <div class="kt-container ">

                            <!-- begin:: Brand -->
                            <div class="kt-header__brand  kt-aside__brand--skin-light   kt-grid__item" id="kt_header_brand">
                                <div class="kt-header__brand-logo">
                                    <a href="@Url.Action("Index","Dashboard")">
                                        @*<img src="~/assets/images/logo-5.png" alt="logo" />*@
                                        <img src="~/assets/images/ahc_new_logo.png" alt="AHC Logo" height="40" />
                                    </a>
                                </div>
                            </div>

                            <!-- end:: Brand -->
                            <!-- begin:: Header Topbar -->
                            <div class="kt-header__topbar">

                                <!--begin: Language bar -->
                                <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                    @*<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                                            <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                                                <img class="kt-hidden-" alt="Pic" src="~/assets/images/default.jpg" />
                                            </span>
                                        </div>*@
                                    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                                        @if (SSProfileImage != "NA")
                                        {
                                            <img class="kt-hidden-" alt="Pic" src="@SSProfileImage" />
                                        }
                                        else
                                        {
                                            <img class="kt-hidden-" alt="Pic" src="~/assets/images/default.jpg" />
                                        }

                                    </div>

                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
                                        <ul class="kt-nav kt-margin-t-5 kt-margin-b-5">
                                            <li class="kt-nav__item">
                                                <a href="@Url.Action("Profile", "UsersRegistration")" class="kt-nav__link">
                                                    <span class="kt-nav__link-text">My Profile</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="@Url.Action("ChangePassword", "UsersRegistration")" class="kt-nav__link">
                                                    <span class="kt-nav__link-text">Change Password</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="@Url.Action("Logout", "Login")" class="kt-nav__link">
                                                    <span class="kt-nav__link-text">Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <!-- end:: Header Topbar -->
                        </div>
                    </div>
                    <div class="kt-header__bottom">
                        <div class="kt-container ">

                            <!-- begin: Header Menu -->
                            <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                            <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                                <div class="kt-header-menu">
                                    @{
                                        string rolename = (string)Session["SSRoleName"];
                                        string username = (string)Session["SSUserName"];
                                    }
                                    <h2 class="color-primary py-3 px-2">
                                        AHC Support
                                    </h2>
                                    <p class="color-primary py-4 px-3">- Welcome @username</p>
                                </div>
                            </div>

                            <!-- end: Header Menu -->
                        </div>
                    </div>
                </div>

                <!-- end:: Header -->
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                    <div class="kt-container  kt-grid kt-grid--ver" style="height: 90%;">

                        <!-- begin:: Aside -->
                        <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
                        <div class="kt-aside  kt-aside--skin-light kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                            <!-- begin:: Aside Menu -->
                            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                                <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--skin-light " data-ktmenu-vertical="1" data-ktmenu-scroll="1">
                                    <ul class="kt-menu__nav ">
                                        @{

                                            List<MenusDTO> objlt = (List<MenusDTO>)Session["SSMenusLst"];
                                            int RoleId = (int)Session["SSRoleId"];

                                            long SSNewUser = (long)Session["SSNewUser"];
                                            long SSWarrantyExpiredApprovalCount = (long)Session["SSWarrantyExpiredApprovalCount"];
                                            long SSAssetRenewalCount = (long)Session["SSAssetRenewalCount"];
                                            long SSAssetApprovalCount = (long)Session["SSAssetApprovalCount"];
                                            long SSInventoryAdjustment = (long)Session["SSInventoryAdjustment"];
                                            long SSPPMDatesApprovalCount = (long)Session["SSPPMDatesApprovalCount"];
                                            long SSSparePartRequestCount = (long)Session["SSSparePartRequestCount"];

                                            long TotalCountII = SSWarrantyExpiredApprovalCount + SSSparePartRequestCount;
                                            long TotalCount = SSNewUser + SSWarrantyExpiredApprovalCount + SSAssetRenewalCount + SSAssetApprovalCount + SSInventoryAdjustment + SSPPMDatesApprovalCount + SSSparePartRequestCount;
                                        }
                                        @*<li class="kt-menu__item" aria-haspopup="true"><a href="~/Home/Dashboard" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-ticket-alt"></i><span class="kt-menu__link-text">Dashboard</span></a></li>*@
                                        @if (objlt != null)
                                        {
                                            foreach (var item in objlt.Where(x => x.ParentId == 0))
                                            {
                                                int cntone = objlt.Where(x => x.ParentId == item.MenuId).Count();

                                                if (cntone > 0)
                                                {
                                                    <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                                        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                            <i class="kt-menu__link-icon fa fa-check-circle"></i><span class="kt-menu__link-text">
                                                                @item.MenuName

                                                            </span>
                                                            @if (item.MenuId == 1 && RoleId == 502)
                                                            {
                                                                <span class="d-flex align-items-center roundedbtn">(@TotalCountII)</span>
                                                            }
                                                            else if (item.MenuId == 1 && RoleId == 501)
                                                            {
                                                                <span class="d-flex align-items-center roundedbtn">(@TotalCount)</span>
                                                            }

                                                            <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                                        </a>
                                                        <div class="kt-menu__submenu">

                                                            <span class="kt-menu__arrow"></span>
                                                            @if (item.MenuId == 1040)
                                                            {

                                                                <ul class="kt-menu__subnav scroll-250">
                                                                    @{
                                                                        var cnt = objlt.Where(x => x.ParentId == item.MenuId).ToList();
                                                                        foreach (var subitem in cnt)
                                                                        {
                                                                            if (subitem.MenuId == 1039 || subitem.MenuId == 1041 || subitem.MenuId == 1042 || subitem.MenuId == 1043 || subitem.MenuId == 1044 || subitem.MenuId == 1045 || subitem.MenuId == 1046 || subitem.MenuId == 1047 || subitem.MenuId == 1052 || subitem.MenuId == 1051)
                                                                            {
                                                                                <li class="kt-menu__item">
                                                                                    <a href="@Url.Action(subitem.ActionName,subitem.ControllerName)" target="_blank" class="kt-menu__link">
                                                                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                                                                            <span></span>
                                                                                        </i>
                                                                                        <span class="kt-menu__link-text">
                                                                                            @subitem.MenuName
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                            }

                                                                            else
                                                                            {
                                                                                <li class="kt-menu__item">
                                                                                    <a href="@Url.Action(subitem.ActionName,subitem.ControllerName)" class="kt-menu__link">
                                                                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                                                                            <span></span>
                                                                                        </i>
                                                                                        @*@Html.ActionLink(subitem.MenuName, subitem.ActionName, subitem.ControllerName, null, new { target = "_blank", @class = "kt-menu__link-text" })*@
                                                                                        <span class="kt-menu__link-text">@subitem.MenuName</span>
                                                                                        @if (subitem.MenuId == 5)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSNewUser)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 22)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSWarrantyExpiredApprovalCount)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 36)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSAssetRenewalCount)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 27)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSAssetApprovalCount)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 28)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSInventoryAdjustment)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 30)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSPPMDatesApprovalCount)</span>
                                                                                        }
                                                                                    </a>
                                                                                </li>
                                                                            }

                                                                        }
                                                                    }
                                                                </ul>
                                                            }
                                                            else
                                                            {
                                                                <ul class="kt-menu__subnav">
                                                                    @{
                                                                        var cnt = objlt.Where(x => x.ParentId == item.MenuId).ToList();
                                                                        foreach (var subitem in cnt)
                                                                        {
                                                                            if (subitem.MenuId == 1039 || subitem.MenuId == 1041 || subitem.MenuId == 1042 || subitem.MenuId == 1043 || subitem.MenuId == 1044 || subitem.MenuId == 1045 || subitem.MenuId == 1046 || subitem.MenuId == 1047 || subitem.MenuId == 1052 || subitem.MenuId == 1051)
                                                                            {
                                                                                <li class="kt-menu__item">
                                                                                    <a href="@Url.Action(subitem.ActionName,subitem.ControllerName)" target="_blank" class="kt-menu__link">
                                                                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                                                                            <span></span>
                                                                                        </i>
                                                                                        <span class="kt-menu__link-text">@subitem.MenuName</span>
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li class="kt-menu__item">
                                                                                    <a href="@Url.Action(subitem.ActionName,subitem.ControllerName)" class="kt-menu__link">
                                                                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                                                                            <span></span>
                                                                                        </i>
                                                                                        @*@Html.ActionLink(subitem.MenuName, subitem.ActionName, subitem.ControllerName, null, new { target = "_blank", @class = "kt-menu__link-text" })*@
                                                                                        <span class="kt-menu__link-text">@subitem.MenuName</span>
                                                                                        @if (subitem.MenuId == 5)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSNewUser)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 22)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSWarrantyExpiredApprovalCount)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 36)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSAssetRenewalCount)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 27)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSAssetApprovalCount)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 28)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSInventoryAdjustment)</span>
                                                                                        }
                                                                                        else if (subitem.MenuId == 30)
                                                                                        {
                                                                                            <span class="d-flex align-items-center roundedbtn">(@SSPPMDatesApprovalCount)</span>
                                                                                        }
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                        }
                                                                    }
                                                                </ul>
                                                            }
                                                        </div>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="kt-menu__item">
                                                        <a href="@Url.Action(item.ActionName,item.ControllerName)" class="kt-menu__link">
                                                            <i class="kt-menu__link-icon fa fa-ticket-alt"></i>
                                                            <span class="kt-menu__link-text">@item.MenuName</span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }
                                        @*kt-nav__item--active*@
                                        @*<li class="kt-menu__item" aria-haspopup="true"><a href="~/Home/Dashboard" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-ticket-alt"></i><span class="kt-menu__link-text">Dashboard</span></a></li>

                                            <li class="kt-menu__item" aria-haspopup="true"><a href="~/Home/DetailsList" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-ticket-alt"></i><span class="kt-menu__link-text">Tickets</span></a></li>


                                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-check-circle"></i><span class="kt-menu__link-text">Approvals</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                                <div class="kt-menu__submenu ">
                                                    <span class="kt-menu__arrow"></span>
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">User Approval</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Equipment Approval</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>

                                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-dolly"></i><span class="kt-menu__link-text">Asset Management</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                                <div class="kt-menu__submenu ">
                                                    <span class="kt-menu__arrow"></span>
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                                                            <span class="kt-menu__link"><span class="kt-menu__link-text">Asset Management</span></span>
                                                        </li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Asset List</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Spare Parts</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>*@

                                        @*<li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-dolly"></i><span class="kt-menu__link-text">User Master</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                                <div class="kt-menu__submenu ">
                                                    <span class="kt-menu__arrow"></span>
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                                                            <span class="kt-menu__link"><span class="kt-menu__link-text">User Master</span></span>
                                                        </li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Roles</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Users</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Mapping User</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Role Access</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>

                                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-dolly"></i><span class="kt-menu__link-text">Master Forms</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                                <div class="kt-menu__submenu ">
                                                    <span class="kt-menu__arrow"></span>
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                                                            <span class="kt-menu__link"><span class="kt-menu__link-text">Portlets</span></span>
                                                        </li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Accounts</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Products</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Models</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Warehouse</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Region</span></a></li>
                                                        <li class="kt-menu__item "><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">City</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>*@

                                    </ul>
                                </div>
                            </div>
                            <!-- end:: Aside Menu -->
                        </div>

                        <!-- end:: Aside -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                            @RenderBody()

                        </div>
                    </div>

                    <!-- begin:: Footer -->
                    <!-- end:: Footer -->
                </div>
            </div>
        </div>
        <div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
            <div class="kt-footer__bottom">
                <div class="kt-container ">
                    <div class="kt-footer__wrapper">
                        <div class="kt-footer__copyright">
                            &copy; 2020 <a href="#" target="_blank">AHC @@ All Rights Reserved.</a>
                        </div>
                        @*<div class="kt-footer__copyright">
                                Powered By <a href="https://www.creative-sols.com" target="_blank">Creative Solutions</a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.7.0/dist/sweetalert2.all.min.js"></script>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        function cancel() {
            location.reload();
        }
    </script>

</body>

<!-- end::Body -->

</html>